
   
    <div class="content-wrapper">
      <!-- Page Title Header Starts-->
      <div class="headerTitle">
          <h2>Help Desk</h2>    
      </div>
      <!-- Page Title Header Ends-->
    <div class="midContentRightBar">
        <div class="helpChatSec">
            <div class="helpChatLeft">
                <div class="chatPersonName">
                    <h2>James Smith</h2>
                </div>
                <div class="chatingArea">
                    <div class="activeChattingSec boxscroll">
                        <div class="senderMessage">
                            <div class="messangerImg">
                                <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                            </div>
                            <div class="messangerText">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
                                <span class="MsgTime">04:45PM</span>
                            </div>
                        </div>
                        <div class="senderMessage">
                            <div class="messangerImg">
                                <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                            </div>
                            <div class="messangerText">
                                <p>You asked, Font Awesome delivers with 41 shiny new icons in version 4.7. Want to request new icons? Here's how. Need vectors or want to use on the desktop? Check the cheatsheet.</p>
                                <span class="MsgTime">04:45PM</span>
                            </div>
                        </div>
                        <!-- Message Date -->
                        <div class="messageDate">
                            <hr /><h5>Today</h5><hr />
                        </div>
                        <!-- Message Date -->
                      
                        <div class="receiverMassage">
                            <div class="messangerText">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
                                <span class="MsgTime">04:45PM</span>
                            </div>
                            <div class="messangerImg">
                                <img src="/assets/images/navIcon/adminImg.png" alt="" />
                            </div>
                        </div>
                        <div class="receiverMassage">
                            <div class="messangerText">
                                <p>Hello</p>
                                <span class="MsgTime">04:45PM</span>
                            </div>
                            <div class="messangerImg">
                                <img src="/assets/images/navIcon/adminImg.png" alt="" />
                            </div>
                        </div>
                        <div class="receiverMassage">
                            <div class="messangerText">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
                                <span class="MsgTime">04:45PM</span>
                            </div>
                            <div class="messangerImg">
                                <img src="/assets/images/navIcon/adminImg.png" alt="" />
                            </div>
                        </div>
                        <div class="senderMessage">
                            <div class="messangerImg">
                                <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                            </div>
                            <div class="messangerText">
                                <p>You asked, Font Awesome delivers with 41 shiny new icons in version 4.7. Want to request new icons? Here's how. Need vectors or want to use on the desktop? Check the cheatsheet.</p>
                                <span class="MsgTime">04:45PM</span>
                            </div>
                        </div>
                        <div id="messages"></div>
                    </div>
                </div>
                <!--- Write Message here ---> 
                  <form action="">
      
                <div class="writeMessageBox">
                    <div class="addFileMsg">
                        <img src="/assets/images/navIcon/filesAdd-btn.png" alt="" />
                        <input type="file" name="fileToUpload" id="contentMsgUplaod">
                    </div>
                    <div class="messageTypeing">
                        <div class="form-group">
                          <textarea class="form-control" id="type_mesage" placeholder="Enter Message Here"></textarea>
                        </div>
                    </div>
                    <div class="sendBtnEmoji">
                        <div class="sendEmoji"><i class="fa fa-smile-o"></i></div>
                        <div class="msgSendBtn">
                            <button type="submit" class="btn btn-primary chatSendBtn">Send <i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
             
    </form>
                <!--- Write Message here --->
            </div>
            <div class="helpChatRight">
                <div class="adminChatingOnline">
                    <div class="onlineChatSearch">
                        <input class="form-control" type="search" placeholder="Search user">
                        <span class="perSearch"><img src="/assets/images/navIcon/helpDesksearch.png" alt=""></span>
                    </div>
                    <div class="onlinePersonChat boxscroll">
                        <div class="chatPerson">
                            <div class="chatImgName">
                                <div class="chatPersonImg">
                                    <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                                </div>
                                <div class="chatPersonName">
                                    <h4>James Smith</h4>
                                    <p>Lorem ipsum dolor sit . . .</p>
                                </div>
                            </div>
                        </div>
                        <div class="chatPerson">
                            <div class="chatImgName">
                                <div class="chatPersonImg">
                                    <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                                </div>
                                <div class="chatPersonName">
                                    <h4>James Smith</h4>
                                    <p>Lorem ipsum dolor sit . . .</p>
                                </div>
                            </div>
                        </div>
                        <div class="chatPerson">
                            <div class="chatImgName">
                                <div class="chatPersonImg">
                                    <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                                </div>
                                <div class="chatPersonName">
                                    <h4>James Smith</h4>
                                    <p>Lorem ipsum dolor sit . . .</p>
                                </div>
                            </div>
                        </div>
                        <div class="chatPerson">
                            <div class="chatImgName">
                                <div class="chatPersonImg">
                                    <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                                </div>
                                <div class="chatPersonName">
                                    <h4>James Smith</h4>
                                    <p>Lorem ipsum dolor sit . . .</p>
                                </div>
                            </div>
                        </div>
                        <div class="chatPerson">
                            <div class="chatImgName">
                                <div class="chatPersonImg">
                                    <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                                </div>
                                <div class="chatPersonName">
                                    <h4>James Smith</h4>
                                    <p>Lorem ipsum dolor sit . . .</p>
                                </div>
                            </div>
                        </div>
                        <div class="chatPerson">
                            <div class="chatImgName">
                                <div class="chatPersonImg">
                                    <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                                </div>
                                <div class="chatPersonName">
                                    <h4>James Smith</h4>
                                    <p>Lorem ipsum dolor sit . . .</p>
                                </div>
                            </div>
                        </div>
                        <div class="chatPerson active activeChat">
                            <div class="chatImgName">
                                <div class="chatPersonImg">
                                    <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                                </div>
                                <div class="chatPersonName">
                                    <h4>James Smith</h4>
                                    <p>Lorem ipsum dolor sit . . .</p>
                                </div>
                            </div>
                            <div class="commingMsg">
                                <div class="arrowSign">
                                    <img src="/assets/images/navIcon/activeArrow.png" alt="">
                                </div>
                                <div class="activeMessage"><h3>4</h3></div>
                                <div class="activeMessageIcon">
                                    <img src="/assets/images/navIcon/activeMsgIcon.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="chatPerson activeChat">
                            <div class="chatImgName">
                                <div class="chatPersonImg">
                                    <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                                </div>
                                <div class="chatPersonName">
                                    <h4>James Smith</h4>
                                    <p>Lorem ipsum dolor sit . . .</p>
                                </div>
                            </div>
                            <div class="commingMsg">
                                <div class="arrowSign">
                                    <img src="/assets/images/navIcon/activeArrow.png" alt="">
                                </div>
                                <div class="activeMessage"><h3>4</h3></div>
                                <div class="activeMessageIcon">
                                    <img src="/assets/images/navIcon/activeMsgIcon.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="chatPerson activeChat">
                            <div class="chatImgName">
                                <div class="chatPersonImg">
                                    <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                                </div>
                                <div class="chatPersonName">
                                    <h4>James Smith</h4>
                                    <p>Lorem ipsum dolor sit . . .</p>
                                </div>
                            </div>
                            <div class="commingMsg">
                                <div class="arrowSign">
                                    <img src="/assets/images/navIcon/activeArrow.png" alt="">
                                </div>
                                <div class="activeMessage"><h3>4</h3></div>
                                <div class="activeMessageIcon">
                                    <img src="/assets/images/navIcon/activeMsgIcon.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="chatPerson activeChat">
                            <div class="chatImgName">
                                <div class="chatPersonImg">
                                    <img src="/assets/images/navIcon/chatPersonImg.png" alt="" />
                                </div>
                                <div class="chatPersonName">
                                    <h4>James Smith</h4>
                                    <p>Lorem ipsum dolor sit . . .</p>
                                </div>
                            </div>
                            <div class="commingMsg">
                                <div class="arrowSign">
                                    <img src="/assets/images/navIcon/activeArrow.png" alt="">
                                </div>
                                <div class="activeMessage"><h3>4</h3></div>
                                <div class="activeMessageIcon">
                                    <img src="/assets/images/navIcon/activeMsgIcon.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://unpkg.com/@cometchat-pro/chat@2.0.12/CometChat.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
  window.onload = (function () {
  var appId = "22062f853d21cd0";
  let cometChatSettings = new CometChat.AppSettingsBuilder().subscribePresenceForAllUsers().setRegion('us').build();
  CometChat.init(appId, cometChatSettings)
    .then(
      () => {
                console.log("Initialization completed successfully");
                let apiKey = "7407b1b7b0c70bfca76e85487691b6ab1748473c";
                var uid = "2321321";
                var name = "test";

                var user = new CometChat.User(uid);

                user.setName(name);

                CometChat.createUser(user, apiKey).then(
                    user => {
                        console.log("user created", user);
                    },error => {
                        console.log("error", error);
                    }
                )
                                
                // var usersRequest = new CometChat.UsersRequestBuilder().setLimit(30).build();
                // usersRequest.fetchNext().then(
                // userList => {
                //     /* userList will be the list of User class. */
                //     console.log("User list received:", userList);
                //     /* retrived list can be used to display contact list. */
                // },
                // error => {
                //     console.log("User list fetching failed with error:", error);
                // }
                // );
                
                // User loged in successfully.
            // $(function () {
            //     $('form').submit(function(e){
            //     e.preventDefault(); // prevents page reloading
            //     var receiverID = "superhero3";
            //     var messageText = $('#type_mesage').val();
            //     console.log(messageText)
            //     var receiverType = CometChat.RECEIVER_TYPE.USER;
            //     var textMessage = new CometChat.TextMessage(
            //     receiverID,
            //     messageText,
            //     receiverType
            //     );    
            //     CometChat.sendMessage(textMessage).then(
            //     message => {
            //         console.log("Message sent successfully:", message);
            //     $('#messages').before('<div class="receiverMassage"><div class="messangerText"><p>'+message.text+' </p><span class="MsgTime">04:45PM</span></div><div class="messangerImg"><img src="/assets/images/navIcon/adminImg.png" alt="" /></div></div>');
                
            //     },
            //     error => {
            //         console.log("Message sending failed with error:", error);
            //     }
            //     );
            //     });    
            // });



//             var listenerID = "efsdfsdfsd fsd";

// CometChat.addMessageListener(
//   listenerID,
//   new CometChat.MessageListener({
//     onTextMessageReceived: textMessage => {
//       console.log("Text message received successfully", textMessage);
//       // Handle text message
//     },
//     onMediaMessageReceived: mediaMessage => {
//       console.log("Media message received successfully", mediaMessage);
//       // Handle media message
//     },
//     onCustomMessageReceived: customMessage => {
//       console.log("Custom message received successfully", customMessage);
//       // Handle custom message
//     }
//   })
// );
            //     },
            //     error => {
            //     console.log("Login failed with exception:", { error });
            //     // User login failed, check error and take appropriate action.
            //     }

                
            // );


            
       },
       error => {
        console.log("Initialization failed with error:", error);
        //Check the reason for error and take appropriate action.
      }
    );
 })


</script>

    <!-- <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(function () {
        var socket = io();
        $('form').submit(function(e){
          e.preventDefault(); // prevents page reloading
          socket.emit('chat message', $('#type_mesage').val());
          $('#type_mesage').val('');
          return false;
        });
        
        socket.on('chat message', function(msg){
          $('#messages').before('<div class="receiverMassage"><div class="messangerText"><p>'+msg+' </p><span class="MsgTime">04:45PM</span></div><div class="messangerImg"><img src="/assets/images/navIcon/adminImg.png" alt="" /></div></div>');
        });
      });
    </script> -->